@import './globals.scss';

main {
  max-width: 760px;
  margin: 0 auto;
  margin-top: 5rem;

  h1 {
    margin-bottom: 1rem;
  }
}

.yearTitle {
  margin-bottom: 1rem;
}
.year {
  // Byttet til grid slik at vi kan bruke gap til
  // å få rom rundt bokstavene.
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 50px);

  .week {
    text-align: center;
    border: 1px solid #333;
    background-color: #363636;
    font-weight: 500;
    font-style: bold;
    color: white;
    padding: 0.3rem;
  }
}
.weekDetailBox {
  border: 1px solid black;
  padding: 1rem;
}

.weekDetailToggle {
  text-decoration: underline;
  color: #7a7a7a;
  cursor: pointer;
  display: inline-block;
}

.employeeDetailLink {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  display: inline-block;
}

ul {
  margin-bottom: 1rem;
}

.listItem {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    display: block;
    width: 100%;
    align-self: flex-start;
  }

  &:nth-of-type(2n) {
    background-color: #c1c1c1;
  }
}

.weekList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

hr.solid {
  border-top: 1px solid #eaeaea;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.head {
  display: block;
  background-color: red;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
}

.headerul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
}

.footer {
}
